@{
    ViewBag.Title = "ErrorView";
}
@model UserSessionManagment.Models.UserModel

@{
    Layout = null;
}

 <div class="welcomediv" style="border:2px solid grey">
    <h2>@Html.ViewData["Message"]</h2>
</div>